<%= form_with(model: @service, local: true) do |form| %>
  <div>
    <%= render 'form' %>
  </div>
  <%# Add needed inputs later %>
  <div class="text-center mt-4">
    <%= form.submit "Update Service", class: "btn btn-primary" %>
    <!-- Use 'btn btn-primary' for blue background or 'btn btn-warning' for orange background -->
  </div>
<% end %>
