<%= form_with(model: @service. local: true) do |form|%>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name%>
  </div>
    <%# will be added needed inputs later %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
