<%= link_to 'Back to Services', services_path %>

<%= form_with(model: @service, local: true) do |form| %>
  <div>


    <%= render 'form' %>

  <%# other input fields can be added here %>

    <%= form.submit %>
  </div>
<% end %>
