<!-- app/views/bookings/show.html.erb -->
<p>
  <strong>Booking Date:</strong>
  <%= @booking.booking_date %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
