<div class="card bg-dark text-white" style="position: relative;">
  <%= image_tag("bgimg/bgimg.png", class: "card-img", style: "height: 40rem;") %>
<div class="card-img-overlay d-flex flex-column justify-content-center " style="color:black;">
<div class=" blur-background">

  <h1 class="card-title">Card title</h1>
  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  <p class="card-text">Last updated 3 mins ago</p>
</div>
</div>

</div>

<div class="">
  <br>
  <h2 style="text-align: center;">Title</h2>
  <br>

  <section style="display: flex; flex-wrap: wrap; justify-content: space-evenly;">
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <%= image_tag("bgimg/bgimg.png", class: "card-img", style: "height: 12rem;") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <%= image_tag("bgimg/bgimg.png", class: "card-img", style: "height: 12rem;") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; margin-bottom: 20px;">
      <%= image_tag("bgimg/bgimg.png", class: "card-img", style: "height: 12rem;") %>
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </section>
   <br>
  <h2 style="text-align: center;">see more</h2>
  <br>
</div>

<br>
