.about {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children vertically */
  justify-content: center; /* Center items vertically */
  margin: 0 auto;
  flex-direction: column;
  width: 90%;


}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;

}
.card-title a{
  color: #04305f;
}

.card-text {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

.btn-group .btn {
  font-size: 1rem;
}

.btn-group .btn-primary {
  background-color: #051423;
  border-color: #000000;
}

.btn-group .btn-primary:hover {
  background-color: #072545;
  border-color: #000000;
}

.btn-group .btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-group .btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}
// this is the corrent styling for buttons
.card-body .btn {
  background-color: #051423;
  border-color: #000000;
}
